// Layout
.container
  margin: 0 auto
  max-width: 1200px
  padding: 0 0.9375rem

  .title-area .name a
    padding: 0 0.9375rem 0 0

// Navigation
.top-bar
  .top-bar-section a
    letter-spacing: 1px

  .button
    top: 15px

// Forms
form
  .field_with_errors
    input
      margin-bottom: 0

// Devise views
.devise-container
  margin-top: 50px
